# Папки, генерируемые Gradle
.gradle/
build/

# Файлы и папки IDE (включая IDX)
.idea/
.idx/
*.iml
.androidide
.vscode
local.properties
/home/user/TapGameQ/app/src/main/java/android/
# Другие системные файлы
.DS_Store
java_pid71115.hprof