# Файлы и папки IDE (включая IDX)
.idea/
.idx/
*.iml
.androidide
.vscode
local.properties
# Другие системные файлы
java_pid71115.hprof

# Папки и файлы, генерируемые IDE и системой сборки
.gradle/
build/

# Файлы ОС
.DS_Store
Thumbs.db
