<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Разрешения -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_DEVICE_CONFIG" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MANAGE_DEBUGGING" />
    <uses-permission android:name="com.example.tapgame.permission.API" />
    <uses-permission 
        android:name="android.permission.WRITE_SECURE_SETTINGS" 
        tools:ignore="ProtectedPermissions" />
    
    <!-- Разрешения для GG Mouse Pro -->
    <uses-permission android:name="android.permission.INJECT_EVENTS" 
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_FRAME_BUFFER" 
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" 
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESSIBILITY_SERVICE" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
   
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service
            android:name=".services.WifiDebuggingService"
            android:exported="false"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:foregroundServiceType="specialUse|dataSync" />
        
        <service
            android:name=".server.MyPersistentServer"
            android:enabled="true"
            android:exported="true"
            android:process=":server"> <!-- Важно: запускать в отдельном процессе -->
            <intent-filter>
                <action android:name="com.example.mytapgameserver.server.IMyPermissionServer" />
            </intent-filter>
        </service>

        <!-- Сервис плавающего оверлея -->
        <service
            android:name=".services.FloatingOverlayService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".receivers.WifiDebugStateReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.settings.ADB_WIFI_ENABLED_CHANGED" />
            </intent-filter>
        </receiver>

    </application>
</manifest>